body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:28px;
  top:107px;
  width:374px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:75px;
  top:122px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:30px;
  top:115px;
  width:35px;
  height:33px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:39px;
  top:702px;
  width:352px;
  height:48px;
  font-size:22px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:48px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:348px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:28px;
  top:157px;
  width:374px;
  height:170px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:170px;
}
#u11 {
  position:absolute;
  left:2px;
  top:77px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:39px;
  top:344px;
  width:346px;
  height:308px;
  font-size:16px;
  color:#FF66CC;
  line-height:26px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:308px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  word-wrap:break-word;
}
