body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:430px;
  height:880px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:38px;
  top:117px;
  width:374px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:85px;
  top:132px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:40px;
  top:125px;
  width:35px;
  height:33px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:48px;
  top:229px;
  width:58px;
  height:16px;
  color:#FF99CC;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:38px;
  top:249px;
  width:374px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:357px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:374px;
  height:1px;
}
#u11 {
  position:absolute;
  left:48px;
  top:269px;
  width:92px;
  height:16px;
  color:#FF99CC;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:38px;
  top:167px;
  width:374px;
  height:44px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:171px;
  top:177px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:50px;
  top:175px;
  width:17px;
  height:28px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:38px;
  top:291px;
  width:374px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:357px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:374px;
  height:1px;
}
#u20 {
  position:absolute;
  left:48px;
  top:322px;
  width:352px;
  height:48px;
  font-size:22px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:48px;
}
#u21 {
  position:absolute;
  left:2px;
  top:11px;
  width:348px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:197px;
  top:226px;
  width:200px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:197px;
  top:267px;
  width:200px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
