body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:28px;
  top:156px;
  width:374px;
  height:616px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:616px;
}
#u3 {
  position:absolute;
  left:2px;
  top:300px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:28px;
  top:107px;
  width:374px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:190px;
  top:124px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:360px;
  top:122px;
  width:37px;
  height:29px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:37px;
  top:118px;
  width:21px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:28px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:40px;
  top:180px;
  width:60px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:120px;
  top:180px;
  width:240px;
  height:311px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:311px;
}
#u15 {
  position:absolute;
  left:2px;
  top:148px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:100px;
  top:250px;
  width:260px;
  height:260px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:260px;
}
#u17 {
  position:absolute;
  left:2px;
  top:122px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:28px;
  top:713px;
  width:374px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:37px;
  top:720px;
  width:44px;
  height:45px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:94px;
  top:732px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:284px;
  top:718px;
  width:15px;
  height:49px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:49px;
}
#u25 {
  position:absolute;
  left:2px;
  top:16px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:174px;
  top:718px;
  width:15px;
  height:49px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:49px;
}
#u27 {
  position:absolute;
  left:2px;
  top:16px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:199px;
  top:732px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:310px;
  top:732px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
