body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:28px;
  top:157px;
  width:374px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:28px;
  top:107px;
  width:374px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:75px;
  top:122px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:30px;
  top:115px;
  width:35px;
  height:33px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:372px;
  top:236px;
  width:10px;
  height:10px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:351px;
  top:236px;
  width:10px;
  height:10px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:28px;
  top:257px;
  width:374px;
  height:516px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:516px;
}
#u15 {
  position:absolute;
  left:2px;
  top:250px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:274px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#FF66CC;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:28px;
  top:300px;
  width:374px;
  height:210px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:210px;
}
#u19 {
  position:absolute;
  left:2px;
  top:97px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:38px;
  top:310px;
  width:354px;
  height:140px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:140px;
}
#u21 {
  position:absolute;
  left:2px;
  top:62px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:38px;
  top:460px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FF66CC;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:38px;
  top:489px;
  width:153px;
  height:16px;
  color:#FF99CC;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:320px;
  top:460px;
  width:62px;
  height:24px;
  font-size:20px;
  color:#FF6600;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:382px;
  top:469px;
  width:11px;
  height:13px;
  font-size:10px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:28px;
  top:530px;
  width:374px;
  height:210px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:210px;
}
#u31 {
  position:absolute;
  left:2px;
  top:97px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:38px;
  top:540px;
  width:354px;
  height:140px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:140px;
}
#u33 {
  position:absolute;
  left:2px;
  top:62px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:38px;
  top:690px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FF66CC;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:38px;
  top:719px;
  width:116px;
  height:16px;
  color:#FF99CC;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:330px;
  top:690px;
  width:51px;
  height:24px;
  font-size:20px;
  color:#FF6600;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:382px;
  top:699px;
  width:11px;
  height:13px;
  font-size:10px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
